// FOOTER :: START
footer.footer-one
  button.footer-one__btn.footer-one__btn--active
    +icon('ico-calendar')
    p.text Дневник
  button.footer-one__btn
    +icon('ico-sun')
    p.text Сегодня
  button.footer-one__btn
    +icon('ico-book')
    p.text Статьи
// FOOTER :: END
