---
title: Product page one
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page
block content
  .content.content--sm.content--noFootSm
    .container
      .article.article--mm
        heading.article__header.article__header--mm
          .article__header-in
            h2.heading.heading--type1.heading--avg Когда начинать вводить прикорм?
            p.label-small Правила прикорма
        .article__text
          p Красноватая звездочка, оценивая блеск освещенного металического шарика, доступна.
          p Каждый родитель рано или поздно задается вопросом: с какого времени начинать вводить прикорм? Педиатры рекомендуют введение прикорма в возрасте 4-6 месяцев жизни.      Введение новых продуктов прикорма в рацион ребенка всегда следует начинать только после консультации с педиатром. 
          h5 Что важно знать перед введением прикорма?
          p Первый выбор следует сделать либо в пользу безмолочной каши, либо овощного пюре.   С чего начать конкретно вашему карапузу – подскажет педиатр. Лучше использовать продукты прикорма промышленного выпуска, так как это служит гарантией безопасности. А если продукты будут еще и гипоаллергенными, например,  из ассортимента «ФрутоНяня», то волнительный период введения прикорма пройдет еще более спокойно.
          p Вводите новые продукты постепенно - 1/2 чайной ложки, в первой половине дня, лучше во второе утреннее кормление, чтобы в течение дня отследить реакцию малыша на новый продукт и лучше до кормления грудью или смесью, чтобы маленький гурман смог привыкнуть к вкусу нового для него продукта...
          p Не стоит вводить новые продукты в период прорезывания зубов или при проведении профилактических прививок.
          p Соки давайте   малышу ежедневно, но только после основной едыи только после консультации с педиатром. Не превышайте рекомендованных возрастных доз.
          p Во время введения прикорма не прерывайте грудное вскармливание  оно по-прежнему должно быть на первом месте.
          p Перед тем, чтобы включить в рацион ребенка новую пищу, необходимо проконсультироваться с педиатром.
          
      .small-text
        p Клиническое исследование на гипоаллергенность в НЦЗД в 2011, 2013 и 2016 гг. прошли 17 продуктов прикорма «ФрутоНяня»: сок из яблок осветленный, сок из груш осветленный, сок из яблок и груш с мякотью, пюре из яблок, пюре из груш, пюре из чернослива, пюре из брокколи, пюре из цветной капусты, пюре из тыквы, пюре из кролика, пюре из индейки, каша рисовая безмолочная, каша гречневая безмолочная, сок яблочный прямого отжима, сок из яблок и груш прямого отжима, сок из яблок и слив прямого отжима, сок из яблок и черной смородины прямого отжима.
        p Сведения о возрастных ограничениях применения продукции «ФрутоНяня» смотрите на индивидуальной упаковке.
        p Необходима консультация специалиста.


block footer
