---
title: Catalog change
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page Каталог продуктов
block content
  .content.content--mm.content--noFootBig
    .container
      .input-wrp
        input.ui-input(placeholder='Поиск продукта по названию')
        +icon('ico-search')
        
    .container-fluid
      .catalog
        h2.heading.heading--type1.heading--big Продукты &#171;Фрутоняни&#187;
        .catalog__el
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
              .dislike
                +icon('ico-dislike')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
              .like
                +icon('ico-like')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--img
              img(src='img/fruto.png')
            .card__desc
              p.text Пюре из цветной капусты гипоаллергенное
              a.link(href='#') О продукте
            button.card__refresh
              +icon('ico-replace')

        h2.heading.heading--type1.heading--big Продукты первого прикорма
        .catalog__el
          .card
            .card__av.card__av--icon
              .icon.icon-milk
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-cheese
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-yolk
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-meat
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-fish
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-kefir
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-cracker
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-cookie
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-bread
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-oil
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-butter
            .card__desc
              p.text Молоко или молочная смесь
            button.card__refresh
              +icon('ico-replace')

        h2.heading.heading--type1.heading--big Другие продукты
        .catalog__el
          .card
            .card__av.card__av--icon
              .icon.icon-porrige
            .card__desc
              p.text Каша молочная
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-carrot
            .card__desc
              p.text Морковь
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-potato
            .card__desc
              p.text Кортофель
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-beans
            .card__desc
              p.text Фасоль
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-soup
            .card__desc
              p.text Суп
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-pumpkin
            .card__desc
              p.text Тыква
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-cucumber
            .card__desc
              p.text Огурец
            button.card__refresh
              +icon('ico-replace')
          .card
            .card__av.card__av--icon
              .icon.icon-tomato
            .card__desc
              p.text Помидор
            button.card__refresh
              +icon('ico-replace')
    .container
      button.btn.btn--white.btn--twoIcons
        .btnIcon
          .icon-products
        span.heading.heading--type1.heading--avg Добавить свой продукт
        +icon('ico-arrow-right')
        
block footer
