---
title: Menu
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page Ежедневная прикорма
block content
  .content.content--mm.content--noFootAvg
    // children
    .container
      .children
        .child.child--active
          .child__av
            img(src='img/child-1.png')
          .child__info
            p.child__name
              span Миша
              +icon('ico-ok')
            p.text 5 месяцев
        .child
          .child__av
            img(src='img/child-2.png')
          .child__info
            p.child__name
              span Александра
              +icon('ico-ok')
            p.text.text--gray 4 года 7 месяцев
        .child
          .child__av
            img(src='img/child-2.png')
          .child__info
            p.child__name
              span Мария
              +icon('ico-ok')
            p.text.text--gray 2 года 3 месяца


    .datepicker-here
    .container
      .btn-group
        button.btn.btn--white.btn--twoIcons
          .btnIcon
            +icon('ico-sun')
          span Дневник прикорма
          .icon-orange

        button.btn.btn--white.btn--twoIcons
          .btnIcon
            +icon('ico-book')
          span Статьи и советы
          .icon-orange
          
    .container.daily-small-text
      .small-text
        p Прикорм не рекомендуется вводить на фоне прорезывания зубов и в период вакцинации
        p Представленная информация носит справочный характер и не может заменить визит к вашему лечащему врачу.
