---
title: Product page one
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page Статьи и советы
block content
  .content.content--sm.content--noFootBig
    .container
      .article-list
        a.article(href='#')
          heading.article__header
            .article__header-in
              h2.heading.heading--type1.heading--avg Когда начинать вводить прикорм?
              p.label-small Правила прикорма
          .article__text
            p Красноватая звездочка, оценивая блеск освещенного металического шарика, доступна.
            
        a.article(href='#')
          heading.article__header
            .article__header-av
              img(src='img/fruto-logo.png')
            .article__header-in
              h2.heading.heading--type1.heading--avg Почему относительно соинтервалие?
              p.label-small Рекоммендация
          .article__text
            p Процессуальное изменение вызывает лайн-ап. Цикл имеет перекрестный сет. Драм-машина сонорна.
            
        a.article(href='#')
          heading.article__header
            .article__header-av
              img(src='img/kid.png')
            .article__header-in
              h2.heading.heading--type1.heading--avg Изобарический газ: основные моменты
              p.label-small Секреты фрутоняни
          .article__text
            p Если предварительно подвергнуть объекты длительному вакуумированию, фронт квантово разрешен.


block footer
  footer.footer-one
    button.footer-one__btn
      +icon('ico-calendar')
      p.text Дневник
    button.footer-one__btn
      +icon('ico-sun')
      p.text Сегодня
    button.footer-one__btn.footer-one__btn--active
      +icon('ico-book')
      p.text Статьи
