---
<<<<<<< HEAD
title: Components
bodyClass: page
=======
title: Homepage title
>>>>>>> dad9131bfacce1fa199384da43699cc221ec9902
---
extends shared/_layout
block content
  .content.content--sm
    // default container
    .container
      button.btn.btn--orange #[span Поменять везде в меню]
      button.btn.btn--white #[span Отменить]
      button.btn.btn--orange.btn--icon
        +icon('ico-book')
        span Статьи и советы
      button.btn.btn--white.btn--twoIcons
        .btnIcon
          +icon('ico-book')
        span Статьи и советы
        +icon('ico-arrow-right')

    // container fluid
    .container--fluid
      .card
        .card__av.card__av--img
          img(src='img/fruto.png')
        .card__desc
          p.text Пюре из цветной капусты гипоаллергенное
          a.link(href='#') О продукте
        button.card__refresh
          +icon('ico-replace')
        
      .card
        .card__av.card__av--icon
          +icon('ico-yolk')
        .card__desc
          p.text Молоко или молочная смесь
        button.card__refresh
          +icon('ico-replace')

    // default container
    .container
      div.input-wrp
        input.ui-input(placeholder='Название продукта')
      div.input-wrp
        input.ui-input(value='Название продукта')
      div.input-wrp
        input.ui-input.ui-input--err(value='Название продукта')
        span.input-wrp__err Сообщение об ужасной ошибке
        
    .container
      h2.heading.heading--big.heading--type1 Продукты Фрутоняня
      h2.heading.heading--big.heading--type2 Продукты Фрутоняня
      h3.heading.heading--avg.heading--type1 Продукты Фрутоняня
      h3.heading.heading--avg.heading--type2 Продукты Фрутоняня
      h4.heading.heading--avg.heading--type2.heading--orange Состав:
      
    .container
      .children
        .child.child--active
          .child__av
            img(src='img/child-1.png')
          .child__info
            p.child__name
              span Миша
              +icon('ico-ok')
            p.text 5 месяцев
        .child
          .child__av
            img(src='img/child-2.png')
          .child__info
            p.child__name
              span Александра
              +icon('ico-ok')
            p.text.text--gray 4 года 7 месяцев
