---
title: Home page
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page
block content
  .content.content--sm
    .container
      a.btn.btn--white(href='#modal-1') #[span Окно 1]
      a.btn.btn--orange(href='#modal-2') #[span Окно 2]
      a.btn.btn--white(href='#modal-3') #[span Окно 3]
      a.btn.btn--orange(href='#modal-4') #[span Окно 4]
      
      .modal.mfp-hide#modal-1
        h2.heading.heading--type2.heading--big.heading--sm Поздравляем!
        p.text Ваш малыш готов к новому этапу – введению прикорма! Если хотите ознакомиться подробнее с теоретической частью – советуем перейти в раздел «Статьи и советы». 
        p.text Чтобы начать составление меню – перейдите в «Дневник прикорма».
        .btn-group.btn-group--sm
          button.btn.btn--orange.btn--icon
            +icon('ico-book')
            span Статьи и советы
          button.btn.btn--orange.btn--icon
            +icon('ico-sun')
            span Дневник прикорма
            
      .modal.mfp-hide#modal-2
        h2.heading.heading--type2.heading--big.heading--mm Укажите размер порции
        .input-wrp
          input.ui-input(placeholder='Размер порции в граммах')
        .btn-group.btn-group--mm
          button.btn.btn--orange.btn--icon
            +icon('ico-ok')
            span Сохранить
          button.btn.btn--white
            span Отменить
            
      .modal.mfp-hide#modal-3
        h2.heading.heading--type1.heading--avg.heading--sm Пюре из цветной капусты гипоаллергенное
        .label-avg 250 ml
        .modal__img
          img(src='img/fruto.png')
        .btn-group
          button.btn.btn--orange
            span Поменять везде в меню
          button.btn.btn--white
            span Поменять один раз
            
      .modal.mfp-hide#modal-4
        h2.heading.heading--type2.heading--big.heading--mm Укажите название и размер порции продукта
        .input-wrp
          input.ui-input(placeholder='Название продукта')
        .input-wrp
          input.ui-input(placeholder='Размер порции в граммах')
        .btn-group.btn-group--mm
          button.btn.btn--orange.btn--icon
            +icon('ico-ok')
            span Добавить продукт
          button.btn.btn--white
            span Отменить
