---
title: Product page one
bodyClass: page
---
extends shared/_layout
block header
  .prev
    +icon('ico-prev')
    p.prev__page Продукт
block content
  .content.content--sm.content--noFootMid
    .container
      .article.article--mm
        h2.heading.heading--type1.heading--avg Пюре из цветной капусты гипоаллергенное
        p.label-avg 250 ml
        .article__product
          img(src='img/fruto.png')
        p.label-big Состав:
        .article__text
          p капуста цветная быстрозамороженная, вода питьевая специально подготовленная.
          p Идеально подходит для первого прикорма
          p В составе только овощи и вода
          p Без консервантов, красителей, ароматизаторов, крахмала, соли
          p Хранить до 12 месяцев.
        .article__text--small
          p.text.text--small.text--gray * Продукты «Первого выбора» от «ФрутоНяни» прошли клинические исследования на гипоаллергенность в НЦЗД РАМН в 2011 и 2013 гг.
          p.text.text--small.text--gray ** Сведения о возрастных ограничениях применения продуктов «ФрутоНяня» смотрите на индивидуальной упаковке. Необходима консультация специалиста.
      
      .btn-group
        a.btn.btn--orange(href='#') #[span Поменять везде в меню]
        a.btn.btn--white(href='#') #[span Поменять один раз]
          
      ul.history
        li.history__el.history__el--like
          span 20 января 2018
          .like
            +icon('ico-like')
        li.history__el.history__el--dislike
          .dislike
            +icon('ico-dislike')
          span 23 января 2018
        li.history__el.history__el--dislike
          .dislike
            +icon('ico-dislike')
          span 23 января 2018
        li.history__el.history__el--like
          span 20 января 2018
          .like
            +icon('ico-like')
        li.history__el.history__el--like
          span 20 января 2018
          .like
            +icon('ico-like')
        
block footer
  
