.ico-arrow-right {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.ico-beans {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-book {
  width: 1.05em;
  height: 1em;
  fill: #FFF;
}
.ico-bread {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-butter {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-carrot {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cheese {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cookie {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cracker {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-cucumber {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-fish {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-kefir {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-meat {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-milk {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-oil {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-porrige {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-potato {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-products {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-pumpkin {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-replace {
  width: 0.94em;
  height: 1em;
  fill: #EB690B;
}
.ico-soup {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-tomato {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-yolk {
  width: 1em;
  height: 1em;
  fill: none;
}
