.ico-add {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-ar {
  width: 1.07em;
  height: 1em;
  fill: #EB690B;
}
.ico-arrow-right {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.ico-book {
  width: 1.05em;
  height: 1em;
  fill: #FFF;
}
.ico-calendar {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-dislike {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-edit {
  width: 1em;
  height: 1em;
  fill: #EB690B;
}
.ico-like {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-ok {
  width: 1em;
  height: 1em;
  fill: #008BD0;
}
.ico-prev {
  width: 0.62em;
  height: 1em;
  fill: #FFF;
}
.ico-replace {
  width: 0.94em;
  height: 1em;
  fill: #EB690B;
}
.ico-save {
  width: 1em;
  height: 1em;
  fill: #EB690B;
}
.ico-search {
  width: 1em;
  height: 1em;
  fill: #9B9B9B;
}
.ico-sun {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
