$sprite: (
	beans: (
		offset-x: -130px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	bread: (
		offset-x: -390px,
		offset-y: -130px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	butter: (
		offset-x: 0px,
		offset-y: -130px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	carrot: (
		offset-x: -130px,
		offset-y: -130px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	cheese: (
		offset-x: -260px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	cookie: (
		offset-x: -260px,
		offset-y: -130px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	cracker: (
		offset-x: 0px,
		offset-y: -260px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	cucumber: (
		offset-x: -130px,
		offset-y: -260px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	fish: (
		offset-x: -260px,
		offset-y: -260px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	kefir: (
		offset-x: -390px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	meat: (
		offset-x: 0px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	milk: (
		offset-x: -390px,
		offset-y: -260px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	oil: (
		offset-x: 0px,
		offset-y: -390px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	porrige: (
		offset-x: -130px,
		offset-y: -390px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	potato: (
		offset-x: -260px,
		offset-y: -390px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	products: (
		offset-x: -390px,
		offset-y: -390px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	pumpkin: (
		offset-x: -520px,
		offset-y: 0px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	soup: (
		offset-x: -520px,
		offset-y: -130px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	tomato: (
		offset-x: -520px,
		offset-y: -260px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
	yolk: (
		offset-x: -520px,
		offset-y: -390px,
		width: 120px,
		height: 120px,
		total-width: 640px,
		total-height: 510px,
		image: '../img/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-beans {
		@include sprite(beans)
	}
	.icon-bread {
		@include sprite(bread)
	}
	.icon-butter {
		@include sprite(butter)
	}
	.icon-carrot {
		@include sprite(carrot)
	}
	.icon-cheese {
		@include sprite(cheese)
	}
	.icon-cookie {
		@include sprite(cookie)
	}
	.icon-cracker {
		@include sprite(cracker)
	}
	.icon-cucumber {
		@include sprite(cucumber)
	}
	.icon-fish {
		@include sprite(fish)
	}
	.icon-kefir {
		@include sprite(kefir)
	}
	.icon-meat {
		@include sprite(meat)
	}
	.icon-milk {
		@include sprite(milk)
	}
	.icon-oil {
		@include sprite(oil)
	}
	.icon-porrige {
		@include sprite(porrige)
	}
	.icon-potato {
		@include sprite(potato)
	}
	.icon-products {
		@include sprite(products)
	}
	.icon-pumpkin {
		@include sprite(pumpkin)
	}
	.icon-soup {
		@include sprite(soup)
	}
	.icon-tomato {
		@include sprite(tomato)
	}
	.icon-yolk {
		@include sprite(yolk)
	}
